body {
    background-color: #f0f0f0;
}

.descriptor {
    text-align: center;
    margin: 0 auto;
    width: 80%
}

.descriptor img{
    width: 80px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
}

.descriptor h1 {
    font-family: 'Didot';
    margin: 5px 0;
}

.descriptor h2 {
    font-family: 'Apple Chancery';
    color: #CC5500;
    margin: 5px 0;
    font-size: 1.2rem;
}

.food {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.food div {
    text-align: left;
}

.food img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
}

.item-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    margin-left: 20px;
    flex-grow: 1;
}

.item-info h3{
    color:#333;
    font-weight: bold;
}

.item-info p {
    margin: 10px 0;
}

.price {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.price-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

.button {
    background-color: #d3d3d3;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #000000;
    text-transform: uppercase;
}

.button img {
    width: 20px;
    height: auto;
}